<div ng-controller="SmartcitiesCtrl">
	<ul>
		<li><a href="#/adresses">Adresses</a></li>
		<li><a href="#/avatars">Avatars</a></li>
		<li><a href="#/cities">Cities</a></li>
		<li><a href="#/countries">Countries</a></li>
		<li><a href="#/datasources">DataSources</a></li>
		<li><a href="#/datasourcedrivers">DataSourceDrivers</a></li>
		<li><a href="#/datasourcetypes">DataSourceTypes</a></li>
		<li><a href="#/drivers">Drivers</a></li>
		<li><a href="#/langs">Langs</a></li>
		<li><a href="#/profiles">Profiles</a></li>
		<li><a href="#/profilelangs">ProfileLangs</a></li>
		<li><a href="#/securityinfos">SecurityInfos</a></li>
		<li><a href="#/sharetypes">ShareTypes</a></li>
		<li><a href="#/socialnetworks">SocialNetworks</a></li>
		<li><a href="#/socialnetworktypes">SocialNetworkTypes</a></li>
		<li><a href="#/states">States</a></li>
	</ul>
</div>